.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*

# 选择性包含需要的文件（不要包含 *.map）
!out/bpmn/*.js
!out/bpmn/*.css
!out/bpmn/bpmn-*

tmp/**
样例/**
效果图/**
publish.sh
