html, body {
  width: 100%;
  height: 100%;
}

body {
  color: #333;
  background: white;
}

#canvas {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#canvas svg:focus {
  outline: none;
}

/* COLOR PICKER */

.djs-popup.color-picker .entry {
  margin: 0;
}

.djs-popup.color-picker .djs-popup-group {
  display: grid;
  grid: auto-flow / 1fr 1fr 1fr;
}

.bjs-powered-by {
  display: none;
}

.djs-label,
.djs-text,
.bpp-text-annotation-content {
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Microsoft YaHei", "PingFang TC", "Microsoft JhengHei", "Noto Sans CJK SC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", sans-serif !important;
  font-size: 14px !important;
}

/*任务*/
g.djs-element[data-element-id^="Activity_"] .djs-label {
}

/* 网关 */
g.djs-element[data-element-id^="Gateway_"][data-element-id$="_label"] .djs-label {
  font-size: 13px !important;
}

/* 事件 */
g.djs-element[data-element-id^="Event_"][data-element-id$="_label"] .djs-label {
  font-size: 12px !important;
}

/* 连接线 */
g.djs-element[data-element-id^="Flow_"][data-element-id$="_label"] .djs-label {
  font-size: 13px !important;
}

/* 泳池、泳道 */
g.djs-element[data-element-id^="Participant_"] .djs-label,
g.djs-element[data-element-id^="Lane_"] .djs-label {
  font-weight: 600 !important;  /* Windows 上 500 和 400 完全一样 */
}